body{
    background-color:aliceblue;
}

.main-nav{
    position: fixed;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 2rem;
    background-color: beige;
   /* position: relative; */
    margin-bottom: 4em;

}

.main-nav > div {
    justify-content: space-between;
    align-content: flex-end;
    padding-right: 1em;
}

.main-nav >div:hover{
    background-color: rgb(154, 154, 182);
}


.quienSoy{
    margin-top: 1em;
}

.meDedico{
    margin-top: 1em;
}

.hobbies{
    margin-top: 1em;
}

.proyectos{
    margin-top: 1em;
}

footer{
    width: 100%;
    height: 10rem;
    background-color: red;
}